VITE_API_BASE_URL=
TRYPTIC_GITHUB_TOKEN=
TRYPTIC_GITHUB_REPO=beahleach/The-Tryptic
TRYPTIC_GITHUB_BRANCH=main
TRYPTIC_ADMIN_PASSWORD=
TRYPTIC_SESSION_SECRET=
TRYPTIC_ALLOWED_ORIGINS=
TRYPTIC_MONITOR_POLL_MS=30000
